*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_header{
    top: auto;
    height: 35rem;
    margin-top: -10px;
    /* width: 20rem; */
    background-image: url(../02/images/background.png);
}

.nav_header .nav .title{
    position: absolute;
    height: 32px;
width: 76px;
margin-left: 95px;
margin-top:  23px;
/* border-radius: nullpx; */
font-family: "Martel";
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: #FFFFFF;

}

/* .nav-header .nav .menu .nav-items ul{ */


.nav_header .nav .menu .nav-items  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* padding: 15px; */
    /* margin-top: 8px; */
    /* margin-top: 8px;     */
    padding-left: 25px;
    margin-left: 180px;
}

.nav_header .nav .menu .nav-items ul a{
    position: relative;
    color: #FFFFFF; 
    justify-content:  space-between;
    text-decoration: none;
    margin-top: -35px;
}
