* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



.header {
    position: fixed;
    height: 45em;
    width: 100%;
    top: 0;
    background: #5a8d72;

    .cover {
        position: absolute;
        width: 100%;
        top: -2em;
        bottom: 122px;
       background-image: url("../../assets/cover.png");
    }

}