* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



.header{
    position: fixed;
    height: 35em;
    width: 100%;
    top: 0;
    background: #5a8d72;

}