*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_header{
    position: absolute;
    height: 43rem;
    margin-top: -10px;
    width: 100%;
    /* width: 20rem; */
    background-image: url(../02/images/background.png);
}

.nav_header .nav .title{
    position: absolute;
    height: 32px;
width: 76px;
margin-left: 95px;
margin-top:  23px;
/* border-radius: nullpx; */
font-family: "Martel";
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: #FFFFFF;
letter-spacing: 0.2px;
}

/* .nav-header .nav .menu .nav-items ul{ */


.nav_header .nav .menu .nav-items  ul {
    position: absolute;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    margin-left: 180px;
}

.nav_header .nav .menu .nav-items ul a{
    position: relative;
    color: #FFFFFF; 
    justify-content:  space-around;
    text-decoration: none;
    font-family: "Open Sans";
    padding: 21px;
    left: 520px;
    top:  26px;
    width: 45px;
height: 24px;
}


.nav_header .nav .menu .icons{
    position: absolute;
    /* padding-right: 18px; */
    right: 190px;
    /* top:  18px; */
    justify-content:  space-around;
}

.nav_header .nav .menu .icons .search{
    position: relative;
     padding-right: 18px;
     top: 28px;
    right: 5px; 
    cursor: pointer;
}

.nav_header .nav .menu .icons .cart{
    position: relative;
     padding-left: 8px;
     top: 7px;
    right: -25px; 
    cursor: pointer;
}


.nav_header .nav .toggle{

    position: absolute;
    cursor: pointer;
    padding: inherit;
    right: 50px;
    top:  22px;
    justify-content:  space-around;
}

.nav_header .text1{
    position: absolute;
    height: 543px;
width: 900px;
margin: 220px 0 0 240px;
line-height: 68px;
text-align: center;
font-family: "Martel";
font-size: 58px;
color: #FFFFFF;

/* border-radius: nullpx; */

}

.nav_header .text2{
    position: absolute;

    width: 539px;
    height: 60px;
    
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 20px;
    margin-top: 420px;
    left: 400px;
    line-height: 30px;
    text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;

/* border-radius: nullpx; */

}

.nav_header .btn1{
    position: absolute;
     display: flex; 
     flex-direction: column; 
    align-items: center; 
    background-color: #d0a144;
    border-radius: 37px;
    border: none;
    top: 500px;
    padding: 10px 36px;
    left: 460px;

}

.nav_header .btn1 .btn-text{
    width: 110px;
    height: 28px;
 
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    
    /* light-text-color */
    
    color: #FFFFFF;
}

.nav_header .btn2{
    position: absolute; 
    box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 36px;
top: 500px;
left: 680px;
gap: 10px;

width: 155px;
height: 48px;
opacity: 25px;


border: 1px solid rgb(99, 53, 53);
border-radius: 37px;
flex: none;
order: 1;
flex-grow: 0;
}

.nav_header .banner{
    position: absolute;
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;

width: 1049px;
height: 96px;
left: 150px;
top: 640px;


background: #FFFFFF;
/* SHADOW */

box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.nav_header .banner .elm1{
    position: absolute;
margin-left: 40px;
width: 48px;
height: 48px;
}

.nav_header .banner .banner-txt{
    display: flex;
    position: relative;
    top: -35px;
    /* left: 45px; */
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 125px;
    height: 56px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav_header .banner .banner-txt .bann{
    position: relative;
    left: 65px;
    top: -20px;
    width: 73px;
height: 32px;
font-family: "Martel";
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;

color: #252B42;

}

.nav_header .banner .banner-txt .txt{
    position: relative;
    left: 65px;
    top: -20px;
    width: 125px;
height: 24px;
font-family: "Open Sans";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
flex: none;
order: 1;
flex-grow: 0;
}

.nav_header .banner .elm2{
    position: absolute;
margin-left: 300px;
width: 48px;
height: 48px;
}

.nav_header .banner .banner-txt{
    display: flex;
    position: relative;
    top: -35px;
    /* left: 45px; */
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 125px;
    height: 56px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav_header .banner .banner-txt .bann2{
    position: relative;
    width: 87px;
    left: 65px;
    top: -20px;
height: 32px;

font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
flex: none;
order: 0;
flex-grow: 0;
}

.nav_header .banner .banner-txt .txt{
    position: relative;
    left: 65px;
    top: -20px;
    width: 125px;
height: 24px;
font-family: "Open Sans";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
flex: none;
order: 1;
flex-grow: 0;
}

.nav_header .banner .elm3{
    position: absolute;
margin-left: 550px;
width: 48px;
height: 48px;
}

.nav_header .banner .banner-txt{
    display: flex;
    position: relative;
    top: -35px;
    /* left: 45px; */
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 125px;
    height: 56px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav_header .banner .banner-txt .bann3{
    position: relative;
    left: 65px;
    top: -20px;
    width: 53px;
    height: 32px;
 font-family: "Martel";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    
    letter-spacing: 0.1px;
    color: #252B42;
    
    
}

.nav_header .banner .banner-txt .txt3{
    position: relative;
    left: 65px;
    top: -20px;
    width: 135px;
height: 24px;
font-family: "Open Sans";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;
flex: none;
order: 1;
flex-grow: 0;
}

.nav_header .banner .elm4{
    position: absolute;
margin-left: 800px;
width: 48px;
height: 48px;
}

.nav_header .banner .banner-txt{
    display: flex;
    position: relative;
    top: -35px;
    /* left: 45px; */
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 125px;
    height: 56px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav_header .banner .banner-txt .bann4{
    position: relative;
    left: 65px;
    top: -20px;
    width: 51px;
    height: 32px; 
    font-family: "Martel";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
 
    letter-spacing: 0.1px;
    color: #252B42;

}

.nav_header .banner .banner-txt .txt4{
    position: relative;
    left: 65px;
    top: -20px;
    width: 97px;
height: 24px;
font-family: "Open Sans";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #737373;

}

.who-are-we{
    /* position: relative; */
    background: #252b42;
     height: 115rem; 
    top: -100px;
    width: 100%;
}

.who-are-we .card1{
    position: absolute;
    background-color: #FFFFFF;
    top: 845px;
    left: 150px;
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 238px;
height: 314px;


}
.who-are-we .card1 .image1{
    position: absolute;
    height: 48px;
width: 48px;
left: 40px;
top: 35px;
border-radius: 0px;
width: 48px;
height: 48px;
}

.who-are-we .card1 .text1{
    position: absolute;
    
left: 40px;
top: 95px;
    width: 81px;
height: 48px;

font-family: "Montserrat";
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;

}

.who-are-we .card1 .text2{
    position: relative;
    width: 148px;
height: 40px;
margin: 5px 43px 0 40px;
top: 165px;

font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

color: #737373;
}

.who-are-we .card1 .card-btn{
    position: absolute;
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 30px;
gap: 10px;
margin: 235px 66px 35px 35px;

width: 124px;
height: 48px;
border: 1px solid #295C7A;
border-radius: 37px;
flex: none;
order: 3;
}

.who-are-we .card1 .card-txt{
    position: absolute;
    margin: 28px 56px 30px 1px;
    width: 38px;
    height: 28px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #295c7a;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.who-are-we .card1 .card-arr{
    position: absolute;
    background-image: url(../02/images/arrow.svg);
    width: 16px;
    height: 10px;
    left: 80px;
    top: 18.2px;
}

.who-are-we .card2{
    position: absolute;
    background-color: #FFFFFF;
    top: 845px;
    margin-left: 424px;
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 238px;
height: 314px;


}
.who-are-we .card2 .image1{
    position: absolute;
    height: 48px;
width: 48px;
left: 40px;
top: 35px;
background-image: url(../02/images/icon3.svg);
border-radius: 0px;
width: 48px;
height: 48px;
}

.who-are-we .card2 .text1{
    position: absolute;
    
left: 40px;
top: 95px;
    width: 74px;
height: 48px;

font-family: "Montserrat";
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;

}

.who-are-we .card2 .text2{
    position: relative;
    width: 148px;
height: 40px;
margin: 5px 43px 0 40px;
top: 165px;

font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

color: #737373;
}

.who-are-we .card2 .card-btn{
    position: absolute;
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 30px;
gap: 10px;
margin: 235px 66px 35px 35px;

width: 124px;
height: 48px;
border: 1px solid #295C7A;
border-radius: 37px;
flex: none;
order: 3;
}

.who-are-we .card2 .card-txt{
    position: absolute;
    margin: 28px 56px 30px 1px;
    width: 38px;
    height: 28px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #295c7a;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.who-are-we .card2 .card-arr{
    position: absolute;
    background-image: url(../02/images/arrow.svg);
    width: 16px;
    height: 10px;
    left: 80px;
    top: 18.2px;
}

.who-are-we .card3{
    position: absolute;
    background-color: #FFFFFF;
    top: 845px;
    margin-left: 696px;
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 238px;
height: 314px;


}
.who-are-we .card3 .image1{
    position: absolute;
    height: 48px;
width: 48px;
left: 40px;
top: 35px;
background-image: url(../02/images/2.svg);
border-radius: 0px;
width: 48px;
height: 48px;
}

.who-are-we .card3 .text1{
    position: absolute;
    
left: 40px;
top: 95px;
    width: 110px;
height: 48px;

font-family: "Montserrat";
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;

}

.who-are-we .card3 .text2{
    position: relative;
    width: 148px;
height: 40px;
margin: 5px 43px 0 40px;
top: 165px;

font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

color: #737373;
}

.who-are-we .card3 .card-btn{
    position: absolute;
    box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 30px;
gap: 10px;
margin: 235px 66px 35px 35px;

width: 124px;
height: 48px;
border: 1px solid #295C7A;
border-radius: 37px;
flex: none;
order: 3;
}

.who-are-we .card3 .card-txt{
    position: absolute;
    margin: 28px 56px 30px 1px;
    width: 38px;
    height: 28px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #295c7a;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.who-are-we .card3 .card-arr{
    position: absolute;
    background-image: url(../02/images/arrow.svg);
    width: 16px;
    height: 10px;
    left: 80px;
    top: 18.2px;
}

/*the spacing btw card 3 and 4 has to be arrange*/

.who-are-we .card4{
    position: absolute;
    background-color: #FFFFFF;
    top: 845px;
    margin-left: 956px;
    display: flex;
flex-direction: column;
align-items: center;
background-color: #295C7A;
padding: 0px;

width: 238px;
height: 314px;


}
.who-are-we .card4 .image1{
    position: absolute;
    height: 48px;
    background-image: url(../02/images/56.svg);
width: 48px;
left: 40px;
top: 35px;
border-radius: 0px;
width: 48px;
height: 48px;
}

.who-are-we .card4 .text1{
    position: absolute;
    
left: 40px;
top: 95px;
    width: 125px;
height: 48px;

font-family: "Montserrat";
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #FFFFFF;

}

.who-are-we .card4 .text2{
    position: relative;
    width: 148px;
height: 40px;
margin: 5px 43px 0 40px;
top: 165px;

font-family: "Montserrat";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

color: #FFFFFF;
}

.who-are-we .card4 .card-btn{
    position: absolute;
    display: flex;
flex-direction: column;
align-items: center;
padding: 10px 36px;
gap: 10px;
margin: 235px 66px 35px 35px;

width: 110px;
height: 48px;
background: #FFFFFF;
border-radius: 37px;
flex: none;
order: 3;
flex-grow: 0;
}

.who-are-we .card4 .card-txt{
    position: absolute;
    margin: 1px 36px 10px 36px;
    width: 38px;
    height: 28px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #295c7a;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.who-are-we .who-are-we-title{
    position: absolute;
    width: 251px;
height: 50px;
font-family: "Martel";
margin: 0 530px 0 530px;
margin-top: 1260px;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}


.who-are-we .who-lorem{
    position: absolute;
    width: 468px;
height: 40px;
margin: 0 330px 0 400px;
top: 1340px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

.who-are-we .who-container{
    position: absolute;
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

gap: 15px;
top: 1450px;
margin:0  150px 0 180px;

width: 898px;
height: 50vh;
flex: none;
order: 0;
flex-grow: 0;
}

.who-are-we .who-container .who-vid{
    position: absolute;
    left: -10px;
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 35px;

    width: 50%;
height: 352px;
background-color: #2446ce;

}

.avis{
    background: #295C7A;
    height: 53rem;
}


.who-are-we .who-txt{
   position: absolute;
    left: 520px;
}

.who-are-we .who-txt .who-txt1{
    width: 321px;
height: 100px;
font-family: "Martel";
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 50px;
letter-spacing: 0.2px;
color: #ffffff;
flex: none;
order: 0;
flex-grow: 0;
}

.who-are-we .who-txt .who-txt2{
    width: 306px;
    height: 60px;
    
    /* paragraph */
    
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
     color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.who-are-we .who-txt3 .svg{
    position: absolute;
    /* width: 273px;
    height: 48px;
    left: 48px; */
    top: 195px;

}
.who-are-we .who-txt3 .who-tx h5{
    position: absolute;
    width: 273px;
    height: 48px;
    left: 48px;
    top: 195px;
    font-family: "Martel";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.who-are-we .who-txt3 .who-tx h6{
    position: absolute;
    height: 24px;
    left: 50px;
    top: 240px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.who-are-we .who-txt3 .svg1{
    position: absolute;
    /* width: 273px;
    height: 48px;
    left: 48px; */
    top: 285px;

}
.who-are-we .who-txt3 .who-tx1 h5{
    position: absolute;
    width: 273px;
    height: 48px;
    left: 48px;
    top: 285px;
    font-family: "Martel";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.who-are-we .who-txt3 .who-tx1 h6{
    position: absolute;
    height: 24px;
    left: 50px;
    top: 330px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}