@media only screen and (max-width: 991px) {
    html {
        font-size: 56.25%;
    }

    header {
        grid-template-columns: 1fr;
    }

    header img {
        grid-row: 1;
    }

    section .row,
    footer .row {
        flex-direction: column;
    }

    .hero-btns {
        width: 70%;
        margin: auto;
        justify-content: space-around;
        gap: 0;
    }

    .about img {
        width: 50%;
        margin: auto;
    }

    footer .row {
        padding: 4rem 0;
    }

    footer .row:nth-child(2) {
        flex-direction: column;
    }

}

@media only screen and (max-width: 767px) {
    html {
        font-size: 50%;
    }

    nav i.fas {
        display: block;
    }

    nav ul {
        height: calc(100vh - 53.4px);
        width: 100vw;
        position: fixed;
        top: 53.4px;
        left: -100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(135deg, var(--baseShade1), var(--baseShade2));
        transition: 1s;
    }

    section,
    footer {
        padding: 5rem;
    }

    .news {
        padding: 3rem 5rem;
    }

    .news .wrapper {
        padding: 3rem 4rem;
    }

    #scroll-top-btn {
        height: 5rem;
        width: 5rem;
    }

    nav ul li a::before {
        background-color: transparent;
    }

    nav ul li a:hover::before {
        background-color: var(--whiteShade1);
    }
}

@media only screen and (max-width: 575px) {
    html {
        font-size: 46.87%;
    }

    nav .fas,
    #logo {
        font-size: var(--headingFs3);
    }

    nav ul {
        top: 52.13px;
        height: calc(100vh - 52.13px);
    }

    .hero-btns {
        width: 100%;
    }

    section, 
    footer{
        padding: 5rem 2rem;
    }

    .news{
        padding: 3rem 2rem;
    }

    .news form{
        flex-direction: column;
        gap: 2rem;
    }

    .news form input,
    .news form button{
        width: 100%;
    }

    input[type = "email"]{
        padding: 1.7rem 2rem;
    }
}