*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: "Poppins", sans-serif;
}

:root {
    --baseShade1: #54cc85;
    --baseShade2: #479264;
    --whiteShade1: #ffffff;
    --whiteShade2: #f8fafb;
    --blackShade1: #231c3d;
    --blackShade2: #575a7b;

    --baseFs: 1.6rem;
    --headingFs1: 4rem;
    --headingFs2: 3.2rem;
    --headingFs3: 2rem;
    --headingFs4: 1.8rem;

    --borderRadius1: 1rem;
    --borderRadius2: 0.5rem;
}

/* utilities classes */
.btn-primary,
.btn-secondary {
    padding: 1rem 2rem;
    border-radius: var(--borderRadius2);
    border: none;
    outline: none;
    transition: 0.5s;
}

.btn-primary {
    background-color: var(--baseShade1);
    color: var(--whiteShade1);
}

.btn-primary:hover{
    background-color: var(--baseShade2);
}

.btn-secondary {
    background-color: var(--whiteShade1);
    border: 0.3rem solid var(--baseShade1);
    color: var(--baseShade1);
}

.btn-secondary:hover{
    border: 0.3rem solid var(--baseShade2);
    color: var(--baseShade2);
}

section, 
footer{
    padding: 5rem 7rem;
}

.row{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

h1 {
    font-size: var(--headingFs1);
    margin-bottom: 2rem;
    word-spacing: 1rem;
    line-height: 1.6;
}

h2 {
    font-size: var(--headingFs2);
    color: var(--blackShade1);
    font-weight: 700;
    margin: 2rem 0 5rem 0;
    text-align: center;
}

h3 {
    font-size: var(--headingFs3);
    color: var(--blackShade1);
    font-weight: 700;
    margin: 1.5rem 0;
    /* text-align: center; */
}

h4 {
    font-size: var(--headingFs4);
    color: var(--blackShade2);
    /* font-weight: 700; */
    margin: 2rem 0 5rem;
}

button,
p,
input[type="email"] {
    font-size: var(--baseFs);
    color: var(--blackShade2);
    line-height: 1.8;
    font-weight: 400;
}
input[type="email"]{
    padding: 0.8rem 2rem;
    border-radius: var(--borderRadius2);
    outline: none;
}
input[type="email"]:focus{
    /* padding: 0.8rem 2rem; */
    border: 0.1rem solid var(--baseShade1);
    outline: none;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.progress-container {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.8rem);
}

#progress {
    width: 0;
    height: 100%;
    background-color: var(--baseShade1);
}

nav {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 1rem;
    left: 0;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.8rem);
}

nav .fas,
#logo{
    font-size: var(--headingFs4);

}

#logo {
    
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

nav a {
    color: var(--blackShade1);
    text-decoration: none;
    display: block;
    position: relative;
    font-size: var(--headingFs4);
}

nav i.fas{
    display: none;
}

nav li a::before {
    content: "";
    position: absolute;
    background-color: var(--baseShade1);
    width: 0;
    height: 50%;
    bottom: 0;
    z-index: -1;
    margin-left: -5%;
    transition: all 0.5s;
}

nav li a:hover::before {
    background-color: var(--baseShade1);
    width: 110%;
}

nav ul.active{
    left: 0;
}

nav ul.active li a{
    font-size: var(--headingFs3);
}

.sticky{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

header {
    padding: 5rem;
    display: grid;
    grid-template-columns: 4fr 6fr;
    align-items: center;
}

.hero-text p {
    text-align: justify;
}

header img{
    display: block;
    width: 100%;
}

.hero-btns{
    display: flex;
    gap: 2rem;
}

.hero-btn button{
    margin-top: 2rem;
}

.about .row{
    align-items: center;
}

.about .row .column{
    width: 100%;
    padding: 0;
}

.about img{
    display: block;
    width: 80%;
}

.about p{
    text-align: justify;
}

.benefits .column{
    padding: 4rem 2rem;
    border: var(--borderRadius1);
}

.benefits .column:hover{
    background-color: var(--baseShade1);
}

.benefits .column:hover p{

color: var(--whiteShade1);
}

.benefits .img-container{
    height: 10rem;
    width: 10rem;
    background-color: var(--whiteShade1);
    margin: auto;
    border-radius: 50%;
}

.benefits img{
    width: 7rem;
    display: block;
    margin: auto;
    padding: 1.1rem 0;
}

.benefits h3{
    text-align: center;
}

.benefits p {
    text-align: center;
}

.pricing .column{
    padding: 3rem 5rem;
    border-radius: var(--borderRadius1);
}

.pricing .column.basic{
    background-color: var(--whiteShade2);
}

.pricing .column.pro{
    background-color: var(--baseShade1);
}

.pricing h3, 
.pricing h4{
text-align: center;
/* margin-top: 1rem; */
}

.pricing h4{
    font-weight: 400;
}

.pricing .pro h4{
    color: var(--whiteShade1);
}

.pricing .pro p{
    color: var(--whiteShade2);
}

.pricing .details{
    padding: 2rem 0;
    margin: 1rem 0;
}

.pricing .details  > p{
    padding: 1.2rem 0;
    text-align: center;
}

.pricing .details  > p + *{
   margin-top: 1.3rem;
}

.column .details p{
    border-bottom: 0.1rem solid var(--blackShade2);
} 

.pricing .column button{
    display: block;
    margin: auto;
}


.news{
    background: linear-gradient(var(--whiteShade1) 60%, var(--baseShade1) 60%);
}

.news .wrapper{
 background-color: var(--whiteShade1);
 padding: 3rem 10rem;
 border-radius: var(--borderRadius1);
 box-shadow: 0 -10px 25px rgba(60, 60, 200, 0.05);
}

.news .wrapper h3{
    /* color: var(--baseShade1); */
    text-align: center;
}

.news .wrapper p{
    /* color: var(--baseShade1); */
    text-align: center;
}

.news form{
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
}


.news form input{
    width: 60%;
    border: 0.1rem solid var(--blackShade1);
}

.news form button{
    width: 30%;
}


footer{
    background-color: var(--baseShade1);
    text-align: center;
}

footer .row{
    padding: 3rem 0;
}

footer .column{
    width: 100%;
}

footer .row:nth-child(1){
    border-radius: 0.2rem solid var(--whiteShade1);
}

footer.row:nth-child(2){
    justify-content: center;
    gap: 20rem;
}

footer h3{
    color: var(--blackShade1);
}
footer p{
    color: var(--whiteShade2);
}

footer i{
    color: var(--blackShade1);
    font-size: 3rem;
}

.copy{
    padding: 2.5rem 0;
    background-color: var(--whiteShade2);
    text-align: center;
}

.copy p{
    color: var(--blackShade1);
}


#scroll-top-btn{
    height: 4rem;
    width: 4rem;
    position: fixed;
    display: none;
    place-items: center;
    right: 2rem;
    bottom: 2rem;
    background-color: var(--baseShade1);
    border: none;
    outline: none;
    border: 0.4rem solid var(--whiteShade1);
    border-radius: var(--borderRadius2);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.12) ;
    cursor: pointer;

}

#scroll-top-btn .fas{
color: var(--whiteShade1);
font-size: 2rem;
}